.header {
    width: 100%;
    height: 80vh;
    max-height: 400px;
    background: var(--color-background);
    color: var(--color-text);
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 6%;
    z-index: 10;
    position: relative;
    margin-top: 100px;
}
.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6%;
}

.profilePicture {
    width: 160px;
    height: 160px;
    align-content: center;
}
.profilePicture img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5%;
    border: 2px solid var(--color-green);
    background: var(--color-green);
    transition: border-color 0.3s, background 0.3s, width 0.3s, height 0.3s, transform 0.3s;
    scale: 1.1;
}

.headerText h1 {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1.1px;
}
.headerText h2 {
    width: max-content;
    letter-spacing: 1.1px;
    margin-top: 0px;
    font-size: 24px;
    font-weight: 400;
}

.scrollDown {
    position: absolute;
    bottom: 20%;
}
