.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    background: linear-gradient(to bottom, var(--color-background), var(--color-background) 90%, rgba(0, 0, 0, 0));
    padding-bottom: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.navbarContent {
    justify-content: end;
    align-items: center;
    gap: 45px;
    width: 90%;
    max-width: 1600px;
    font-size: 15px;
    list-style: none;
    display: flex;
    margin-top: 25px;
    font-weight: 400;
}

.navbarContent li {
    list-style: none;
    display: flex;
    position: relative;
}

.navbarContent li a {
    text-decoration: none;
    transition: color 0.2s ease
}
.navbarContent li a::after {
    content: "";
    background-color: transparent;
    border-radius: 3px;
    height: 2px;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    width: 130%;
    margin-left: -15%;
    transition: background-color 0.5s ease;
}

.navbarContent li a:hover {
    color: var(--color-green);
}
.navbarContent li a.active::after {
    content: "";
    background-color: var(--color-green);
    border-radius: 3px;
    height: 2px;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    width: 130%;
    margin-left: -15%;
}