.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 40px 0;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.separator div {
    background-color: var(--color-green);
}

.circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.line {
    width: 75%;
    height: 3px;
    border-radius: 10px;
}