.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 auto 40px;
    max-width: 1400px;
}

.separator div {
    background-color: var(--color-green);
}

.circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.line {
    width: 75%;
    height: 3px;
    border-radius: 10px;
}