.card {
    display: flex;
    flex-direction: row;
    margin: 36px 0;
}
@media (max-width: 1200px) {
    .card {
        flex-direction: column;
        margin: 50px 0;
    }

    .cardLeft {
        flex-direction: column-reverse;
    }
}
@media (max-width: 650px) {
    .image > img {
        width: 100% !important;
    }
    .card {
        margin: 50px 8px;
    }
}


.image > img {
    border-radius: 15px;
    width: calc(1.05 * max(400px, min(90vw, 870px)));
    height: fit-content;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.3));
    max-height: 290px;
    transition: filter 0.3s ease;
    cursor: pointer;
}
.image > img:hover {
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.3)) blur(1px) brightness(0.9);
    transition: filter 0.3s ease;
}
@media (max-width: 1200px) {
    .image {
        width: fit-content;
        margin: 0 auto;
    }
    .image > img {
        height: auto;
        max-height: 360px;
        max-width: 560px;
        border-radius: 2px;
    }
}


.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2px;
    z-index: 2;
}
.textRight {
    margin-left: -30px;
    margin-right: 20px;
}
.textLeft {
    margin-right: -30px;
    margin-left: 20px;
}
@media (max-width: 1200px) {
    .text {
        margin-top: 0;
        width: auto;
    }
    .textRight {
        margin: -63px 10px 0 10px;
    }
    .textLeft {
        margin: -63px 10px 0 10px;
    }
}
@media (max-width: 650px) {
    .title {
        width: max-content;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}


.label {
    color: var(--color-green);
    font-weight: 600;
    font-size: 15px;
    z-index: 2;
    text-align: right;
    position: relative;
    margin: -28px 11px 0 0;
}
.title {
    margin: 16px 0 6px 51px;
    text-align: left;
    z-index: 3;
}
.title > a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2.5px;
    align-content: center;
    font-size: 30px;
    font-weight: 600;
    transition: background-size .3s;
    text-decoration: none !important;
    text-transform: capitalize;
}
.title > a:hover {
    background-size: 100% 2.5px;
}
.descriptionText {
    background-color: #fefeff;
    filter: drop-shadow(6px 5px 10px rgba(0, 0, 0, 0.11));
    border-radius: 10px;
    padding: 19px 21px 38px 21px;
    transition: filter 0.3s ease;
    text-align: justify;
    font-size: 18px;
    color: black;
    min-height: 57px;
    line-height: 25px;
}
.descriptionText > span {
    color: var(--color-green);
    font-weight: 600;
}
@media (max-width: 1200px) {
    .title {
        margin: 18px auto -49px auto;
    }
    .title > a {
        font-size: 26px;
    }
    .description {
        max-width: 616px;
        margin: 0 auto;
    }
    .descriptionText {
        padding-top: 51px;
        font-size: 17px;
    }
}
@media (max-width: 765px) {
    .title {
        margin: 18px 0 -49px 51px;
    }
    .descriptionText {
        font-size: 16px;
    }
    .title > a {
        font-size: 24px;
    }
}