@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: var(--color-background);
    color: var(--color-text);
}

ol, ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 26px;
}
ol {
    list-style-type: decimal;
}
ul {
    list-style: circle;
}
@media (min-width: 750px) {
    ol, ul {
        padding-inline-start: 35px;
    }
}

:root {
    --color-green: #39e0c1;
    --color-green-hover: #2d9e84;
    --color-background: #0d1419;
    --color-text: #ffffff;
}

.colorNote {
    color: var(--color-green);
}

