.transition {
    height: 8vw;
    width: 100%;
    margin: -35px 0px -4vw 0px;
    transform: rotate(358deg) scale(1.01, 1);
    position: relative;
    background-color: #141923;
}

.content {
    margin-top: -60px;
    z-index: 10;
    position: relative;
    background-color: #141923;
    min-height: 90px;
    color: white;
    padding-bottom: 35px;
}
@media (max-width: 900px) {
    .content {
        margin-top: -60px;
    }
    .footerContent {
        padding-top: 27px !important;
    }

    .transition {
        display: none;
    }
}
@media (max-width: 655px) {
    .endText {
        display: block !important;
        text-align: center;
    }
    .separator {
        display: none;
    }
}

.footerContent {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    flex-direction: column;
}

.endText {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: white;
}

.separator {
    margin: auto 11px;
}

.endText > p > a {
    align-content: center;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1.5px;
    transition: background-size .3s;
    text-decoration: none !important;
    color: #74ce96;
}
.endText > p > a:hover {
    background-size: 100% 1.5px;
}
